.wall {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 999999;
  top: 0;
  left: 0;

  &.hiddenWall {
    visibility: hidden;
    pointer-events: none;
  }

  .frame {
    position: relative;
    width: 100%;
    height: 100%;

    .highlightWindow {
      position: absolute;
      box-shadow: 0 0 0 99999px rgba(0, 0, 0, .65);
      border-radius: 5px;
      box-sizing: border-box;
      padding: 10px;
    }
  }
}
