.navigator {
  position: absolute;
  display: flex;
  flex-direction: column;
  max-width: 330px;
  min-width: 150px;
  border-radius: 5px;
  background-color: rgb(255, 255, 255);
  padding: 7px 10px;
  box-shadow: rgba(0, 0, 0, 30%) 0 0.5em 3em;
  z-index: inherit;

  .topBar {
    position: relative;
    display: flex;
    align-items: center;
    height: 15px;
    width: 100%;
    margin-bottom: 5px;

    .topBarTitle {
      width: 100%;
      font-weight: bold;
      text-overflow: ellipsis;
      overflow: hidden;
      white-space: nowrap;
      margin-right: 10px;
    }

    .closeBtn {
      margin-left: auto;
    }
  }

  .content {
    max-height: 250px;
    margin-bottom: 10px;
    overflow: auto;
  }


  .navBar {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 24px;
    justify-content: center;
    align-items: center;

    .stepPages {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      flex-wrap: wrap;
      flex: 1;
      width: 100%;
      height: 100%;
      overflow: auto;

      .step {
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 50%;
        user-select: none;
        background-color: transparent;
        border: 1px solid gray;

        &.activeStep {
          background-color: #6879EB;
        }
      }
    }
  }
}
