.iconButtonContainer {
  display: flex;
  align-items: center;
  justify-content: center;

  &.active {
    border-bottom: 2px solid #6879EB;
  }

  .iconButton {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    $side: 18px;
    width: $side;
    height: $side;
    color: #444444;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    margin: 3px;

    svg {
      width: 100%;
      height: 100%;
    }

    &.disabled {
      opacity: 0.4;
      cursor: not-allowed;
    }

    &.defaultHover {
      &:hover:not(.disabled) {
        transform: scale(1.2);
        cursor: pointer;
      }
    }
  }
}
